# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=gajayana_events

# API Gateway
NGINX_PORT=3000
USER_SERVICE_URL=http://user-service:3001
FIELD_SERVICE_URL=http://field-service:3002
BOOKING_SERVICE_URL=http://booking-service:3003
PAYMENT_SERVICE_URL=http://payment-service:3004

# User Service
USER_SERVICE_PORT=3001
DATABASE_URL_USER=postgresql://postgres:postgres@localhost:5432/users_db

# Field Service
FIELD_SERVICE_PORT=3002
DATABASE_URL_FIELD=postgresql://postgres:postgres@localhost:5433/fields_db

# Booking Service
BOOKING_SERVICE_PORT=3003
DATABASE_URL_BOOKING=postgresql://postgres:postgres@localhost:5434/bookings_db

# Payment Service
PAYMENT_SERVICE_PORT=3004
DATABASE_URL_PAYMENT=postgresql://postgres:postgres@localhost:5435/payments_db

# Notification Service
NOTIFICATION_SERVICE_PORT=3005
DATABASE_URL_NOTIFICATION=postgresql://postgres:postgres@localhost:5436/notifications_db

